<html>
	<head>
		<style type="text/css">
			div
			{
				background-image:url('blank-index-card.jpg');
				background-repeat:no-repeat;width:500px;
				width:500px;
				height:300px;
				word-wrap:break-word;
			}
			p
			{
				text-align:center;
				padding-top:50px;
				padding-left:50px;
				padding-right:50px;
				font-family: lucida console, monaco, andale mono, bitstream vera sans mono, consolas, monospace;
				font-size: 20px;
				line-height:150%;
			}
		</style>
	</head>
	<body>
		<div>	
			<p>
			<%= @storyname %>
			</p>
		</div>
	</body>
</html>